In [1]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pickle

In [2]:
df = pd.read_csv('UpdatedResumeDataSet.csv')
df

         Category                                             Resume
0    Data Science  Skills * Programming Languages: Python (pandas...
1    Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2    Data Science  Areas of Interest Deep Learning, Control Syste...
3    Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4    Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...
..            ...                                                ...
957       Testing  Computer Skills: â¢ Proficient in MS office (...
958       Testing  â Willingness to accept the challenges. â ...
959       Testing  PERSONAL SKILLS â¢ Quick learner, â¢ Eagerne...
960       Testing  COMPUTER SKILLS & SOFTWARE KNOWLEDGE MS-Power ...
961       Testing  Skill Set OS Windows XP/7/8/8.1/10 Database MY...

[962 rows x 2 columns]

In [3]:
for i in range(len(df['Category'].unique())):
    print(df['Category'].unique()[i])

Data Science
HR
Advocate
Arts
Web Designing
Mechanical Engineer
Sales
Health and fitness
Civil Engineer
Java Developer
Business Analyst
SAP Developer
Automation Testing
Electrical Engineering
Operations Manager
Python Developer
DevOps Engineer
Network Security Engineer
PMO
Database
Hadoop
ETL Developer
DotNet Developer
Blockchain
Testing

In [4]:
print(df.isnull().sum())

Category    0
Resume      0
dtype: int64

In [5]:
df['Resume'] = df['Resume'].apply(lambda x:x.lower())
for i in range(len(df)):
    lw=[]
    for j in df['Resume'][i].split():
        if len(j)>2:                  
            lw.append(j)
    df['Resume'][i]=" ".join(lw)

In [6]:
df.Resume

0      skills programming languages: python (pandas, ...
1      education details may 2013 may 2017 b.e uit-rg...
2      areas interest deep learning, control system d...
3      skills â¢ â¢ python â¢ sap hana â¢ tableau...
4      education details mca ymcaust, faridabad, hary...
                             ...
957    computer skills: â¢ proficient office (word, ...
958    â willingness accept the challenges. â pos...
959    personal skills â¢ quick learner, â¢ eagerne...
960    computer skills software knowledge ms-power po...
961    skill set windows xp/7/8/8.1/10 database mysql...
Name: Resume, Length: 962, dtype: object

In [7]:
import re
def cleanResume(resumeText):
    resumeText = re.sub('http\S+\s*', ' ', resumeText)  # remove URLs
    resumeText = re.sub('RT|cc', ' ', resumeText)  # remove RT and cc
    resumeText = re.sub('#\S+', '', resumeText)  # remove hashtags
    resumeText = re.sub('@\S+', '  ', resumeText)  # remove mentions
    resumeText = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', resumeText)  # remove punctuations
    resumeText = re.sub(r'[^\x00-\x7f]',r' ', resumeText) 
    resumeText = re.sub('\s+', ' ', resumeText)  # remove extra whitespace
    return resumeText
    
df['cleaned_resume'] = df.Resume.apply(lambda x: cleanResume(x))

In [8]:
df.Resume

0      skills programming languages: python (pandas, ...
1      education details may 2013 may 2017 b.e uit-rg...
2      areas interest deep learning, control system d...
3      skills â¢ â¢ python â¢ sap hana â¢ tableau...
4      education details mca ymcaust, faridabad, hary...
                             ...
957    computer skills: â¢ proficient office (word, ...
958    â willingness accept the challenges. â pos...
959    personal skills â¢ quick learner, â¢ eagerne...
960    computer skills software knowledge ms-power po...
961    skill set windows xp/7/8/8.1/10 database mysql...
Name: Resume, Length: 962, dtype: object

In [9]:
ps = list(";?.:!,")
df['Resume'] = df['Resume']

for p in ps:   
    df['Resume'] = df['Resume'].str.replace(p, '')

C:\Users\Sangram\AppData\Local\Temp\ipykernel_26904\2980719137.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Resume'] = df['Resume'].str.replace(p, '')

In [10]:
df.Resume

0      skills programming languages python (pandas nu...
1      education details may 2013 may 2017 be uit-rgp...
2      areas interest deep learning control system de...
3      skills â¢ â¢ python â¢ sap hana â¢ tableau...
4      education details mca ymcaust faridabad haryan...
                             ...
957    computer skills â¢ proficient office (word ba...
958    â willingness accept the challenges â posi...
959    personal skills â¢ quick learner â¢ eagernes...
960    computer skills software knowledge ms-power po...
961    skill set windows xp/7/8/81/10 database mysql ...
Name: Resume, Length: 962, dtype: object

In [11]:
df['Resume'] = df['Resume'].str.replace("    ", " ")
df['Resume'] = df['Resume'].str.replace('"', '')
df['Resume'] = df['Resume'].apply(lambda x: x.replace('\t', ' '))
df['Resume'] = df['Resume'].str.replace("'s", "")
df['Resume'] = df['Resume'].apply(lambda x: x.replace('\n', ' '))

In [12]:
df.Resume

0      skills programming languages python (pandas nu...
1      education details may 2013 may 2017 be uit-rgp...
2      areas interest deep learning control system de...
3      skills â¢ â¢ python â¢ sap hana â¢ tableau...
4      education details mca ymcaust faridabad haryan...
                             ...
957    computer skills â¢ proficient office (word ba...
958    â willingness accept the challenges â posi...
959    personal skills â¢ quick learner â¢ eagernes...
960    computer skills software knowledge ms-power po...
961    skill set windows xp/7/8/81/10 database mysql ...
Name: Resume, Length: 962, dtype: object

In [13]:
pip install nltk

Requirement already satisfied: nltk in c:\users\sangram\desktop\sample_project\env\lib\site-packages (3.8.1)
Requirement already satisfied: tqdm in c:\users\sangram\desktop\sample_project\env\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: click in c:\users\sangram\desktop\sample_project\env\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\sangram\desktop\sample_project\env\lib\site-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\sangram\desktop\sample_project\env\lib\site-packages (from nltk) (2022.10.31)
Requirement already satisfied: colorama in c:\users\sangram\appdata\roaming\python\python310\site-packages (from click->nltk) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [14]:
import nltk

In [15]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
import string

In [16]:
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Sangram\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Sangram\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Sangram\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sangram\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
oneSetOfStopWords = set(stopwords.words('english')+['``',"''"])
totalWords =[]
Sentences = df['Resume'].values
cleanedSentences = ""
for records in Sentences:
    cleanedText = cleanResume(records)
    cleanedSentences += cleanedText
    requiredWords = nltk.word_tokenize(cleanedText)
    for word in requiredWords:
        if word not in oneSetOfStopWords and word not in string.punctuation:
            totalWords.append(word)
    
wordfreqdist = nltk.FreqDist(totalWords)
mostcommon = wordfreqdist.most_common(50)
print(mostcommon)

[('exprience', 3829), ('company', 3574), ('project', 3490), ('months', 3288), ('description', 3122), ('details', 3096), ('data', 2148), ('management', 1999), ('team', 1950), ('maharashtra', 1449), ('system', 1415), ('testing', 1349), ('year', 1336), ('database', 1280), ('development', 1203), ('business', 1196), ('test', 1174), ('less', 1145), ('ltd', 1128), ('using', 1124), ('skill', 1117), ('sql', 1097), ('january', 1090), ('client', 1085), ('developer', 1061), ('engineering', 1055), ('java', 1053), ('application', 1046), ('pune', 1025), ('work', 987), ('services', 956), ('skills', 950), ('software', 887), ('responsibilities', 856), ('pvt', 831), ('sales', 819), ('reports', 814), ('process', 808), ('operations', 791), ('requirements', 790), ('customer', 775), ('technical', 767), ('server', 765), ('technologies', 764), ('india', 762), ('university', 762), ('monthscompany', 746), ('design', 745), ('working', 745), ('various', 727)]

In [18]:
wl = WordNetLemmatizer()
nr = len(df)
lis = []
for r in range(0, nr):
    ll = []
    t = df.loc[r]['Resume']
    tw = str(t).split(" ")
    for w in tw:
        ll.append(wl.lemmatize(w, pos="v"))
    lt = " ".join(ll)
    lis.append(lt)

In [19]:
df['Resume'] = lis

In [20]:
df.head()

,Category,Resume,cleaned_resume
0,Data Science,skills program languages python (pandas numpy ...,skills programming languages python pandas num...
1,Data Science,education detail may 2013 may 2017 be uit-rgpv...,education details may 2013 may 2017 b e uit rg...
2,Data Science,areas interest deep learn control system desig...,areas interest deep learning control system de...
3,Data Science,skills â¢ â¢ python â¢ sap hana â¢ tableau...,skills python sap hana tableau sap hana sql sa...
4,Data Science,education detail mca ymcaust faridabad haryana...,education details mca ymcaust faridabad haryan...

In [21]:
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer
le = LabelEncoder()
df['Category'] = le.fit_transform(df['Category'])
cv = CountVectorizer(max_features = 2500)
cv.fit(df['Resume'])
X = cv.transform(df['Resume']).toarray()
y = df['Category']

In [22]:
df.Category.value_counts()

15    84
23    70
8     55
20    48
24    45
12    44
13    42
3     40
10    40
18    40
6     40
22    40
16    40
1     36
7     33
11    30
14    30
19    30
4     28
9     28
2     26
17    25
21    24
5     24
0     20
Name: Category, dtype: int64

In [23]:
print(X)
print(y)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 1 ... 0 0 0]]
0       6
1       6
2       6
3       6
4       6
       ..
957    23
958    23
959    23
960    23
961    23
Name: Category, Length: 962, dtype: int32

In [24]:
# from sklearn.preprocessing import LabelEncoder
# from sklearn.feature_extraction.text import CountVectorizer

# # Assume the encoded data is in the variable 'encoded_data'
# decoded_data = LabelEncoder().fit_transform(X)

# # Now you can decode the data
# original_data = LabelEncoder().inverse_transform(decoded_data)

# df['Category'] = original_data

# cv = CountVectorizer(max_features=2500)
# X = cv.fit_transform(df['Resume']).toarray()
# y = df['Category']

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, stratify=y, random_state = 42)

In [26]:
from sklearn import tree
from sklearn.metrics import accuracy_score

In [27]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
yp = clf.predict(X_test)
acc = accuracy_score(y_test, yp)
print("accuracy is: ",acc)
print(yp)
print(df['Category'])

accuracy is:  0.9826989619377162
[20  4 14 24  8 16  4 19  7  7  6  9  4  7  8 24 15 12  9 14 17  0 22  5
 14 10  5  1  2  3  1  7 14 12 11 13 20 15 10 23 12  4 22 10 13 22 16 13
  7  3  3 22  8 19  7 11 15 21  8 24 10  8  2 19 23 13  3 12 11 22 24 16
  3  3 15  6  6 24 10 15  7  9  4  5 19 13 17 23 24  6  2 15 18  1 13  8
 23 23 11  1 16 15  0 23 21 24 12 23 20 11 22 23 10 13 15  6 14 21 15 17
 14 11 16 15 19 13  7 20 15 11  6 10  5 22 10 23  8 15 10 22  8 15  0  9
 22  8  6  8 20 12  8 18  4 16 15 13 10 23  4  1 22  9 10  8 15 20 20 15
 18 13 18  2 22 11  6 15 19  1 23 20 24 14 18  5 14 17 12 23 23 16 15 23
 18 20  5 21 24 23  1  6  9 13 15 24  7 21 19  2 24  2  2  6 15 16 15 23
 15 12 23  0 11 17 16 14  0 21 16 10 18  5  2 19  9 16 11  8 17  3 18 23
  8 18 23 12  3 11  8 15 23 11  1  4 24 13  9 18  0 20  3  6  8 13  3  3
  1 20 22 15 18 15 24 23 18 11  2 17  1  1 16 19 21 17 24  3 20  6 20 20
  7]
0       6
1       6
2       6
3       6
4       6
       ..
957    23
958    23
959    23
960    23
961    23
Name: Category, Length: 962, dtype: int32

In [28]:
yp = clf.predict(X_test)
print("Predicted output: ", yp)

Predicted output:  [20  4 14 24  8 16  4 19  7  7  6  9  4  7  8 24 15 12  9 14 17  0 22  5
 14 10  5  1  2  3  1  7 14 12 11 13 20 15 10 23 12  4 22 10 13 22 16 13
  7  3  3 22  8 19  7 11 15 21  8 24 10  8  2 19 23 13  3 12 11 22 24 16
  3  3 15  6  6 24 10 15  7  9  4  5 19 13 17 23 24  6  2 15 18  1 13  8
 23 23 11  1 16 15  0 23 21 24 12 23 20 11 22 23 10 13 15  6 14 21 15 17
 14 11 16 15 19 13  7 20 15 11  6 10  5 22 10 23  8 15 10 22  8 15  0  9
 22  8  6  8 20 12  8 18  4 16 15 13 10 23  4  1 22  9 10  8 15 20 20 15
 18 13 18  2 22 11  6 15 19  1 23 20 24 14 18  5 14 17 12 23 23 16 15 23
 18 20  5 21 24 23  1  6  9 13 15 24  7 21 19  2 24  2  2  6 15 16 15 23
 15 12 23  0 11 17 16 14  0 21 16 10 18  5  2 19  9 16 11  8 17  3 18 23
  8 18 23 12  3 11  8 15 23 11  1  4 24 13  9 18  0 20  3  6  8 13  3  3
  1 20 22 15 18 15 24 23 18 11  2 17  1  1 16 19 21 17 24  3 20  6 20 20
  7]

In [29]:
# le = LabelEncoder()
# le.fit(df['Category'])
y_pred_decoded = le.inverse_transform(yp)

print("Predicted labels: ", y_pred_decoded)

Predicted labels:  ['Python Developer' 'Business Analyst' 'Health and fitness'
 'Web Designing' 'DevOps Engineer' 'Mechanical Engineer'
 'Business Analyst' 'PMO' 'Database' 'Database' 'Data Science'
 'DotNet Developer' 'Business Analyst' 'Database' 'DevOps Engineer'
 'Web Designing' 'Java Developer' 'HR' 'DotNet Developer'
 'Health and fitness' 'Network Security Engineer' 'Advocate' 'Sales'
 'Civil Engineer' 'Health and fitness' 'ETL Developer' 'Civil Engineer'
 'Arts' 'Automation Testing' 'Blockchain' 'Arts' 'Database'
 'Health and fitness' 'HR' 'Electrical Engineering' 'Hadoop'
 'Python Developer' 'Java Developer' 'ETL Developer' 'Testing' 'HR'
 'Business Analyst' 'Sales' 'ETL Developer' 'Hadoop' 'Sales'
 'Mechanical Engineer' 'Hadoop' 'Database' 'Blockchain' 'Blockchain'
 'Sales' 'DevOps Engineer' 'PMO' 'Database' 'Electrical Engineering'
 'Java Developer' 'SAP Developer' 'DevOps Engineer' 'Web Designing'
 'ETL Developer' 'DevOps Engineer' 'Automation Testing' 'PMO' 'Testing'
 'Hadoop' 'Blockchain' 'HR' 'Electrical Engineering' 'Sales'
 'Web Designing' 'Mechanical Engineer' 'Blockchain' 'Blockchain'
 'Java Developer' 'Data Science' 'Data Science' 'Web Designing'
 'ETL Developer' 'Java Developer' 'Database' 'DotNet Developer'
 'Business Analyst' 'Civil Engineer' 'PMO' 'Hadoop'
 'Network Security Engineer' 'Testing' 'Web Designing' 'Data Science'
 'Automation Testing' 'Java Developer' 'Operations Manager' 'Arts'
 'Hadoop' 'DevOps Engineer' 'Testing' 'Testing' 'Electrical Engineering'
 'Arts' 'Mechanical Engineer' 'Java Developer' 'Advocate' 'Testing'
 'SAP Developer' 'Web Designing' 'HR' 'Testing' 'Python Developer'
 'Electrical Engineering' 'Sales' 'Testing' 'ETL Developer' 'Hadoop'
 'Java Developer' 'Data Science' 'Health and fitness' 'SAP Developer'
 'Java Developer' 'Network Security Engineer' 'Health and fitness'
 'Electrical Engineering' 'Mechanical Engineer' 'Java Developer' 'PMO'
 'Hadoop' 'Database' 'Python Developer' 'Java Developer'
 'Electrical Engineering' 'Data Science' 'ETL Developer' 'Civil Engineer'
 'Sales' 'ETL Developer' 'Testing' 'DevOps Engineer' 'Java Developer'
 'ETL Developer' 'Sales' 'DevOps Engineer' 'Java Developer' 'Advocate'
 'DotNet Developer' 'Sales' 'DevOps Engineer' 'Data Science'
 'DevOps Engineer' 'Python Developer' 'HR' 'DevOps Engineer'
 'Operations Manager' 'Business Analyst' 'Mechanical Engineer'
 'Java Developer' 'Hadoop' 'ETL Developer' 'Testing' 'Business Analyst'
 'Arts' 'Sales' 'DotNet Developer' 'ETL Developer' 'DevOps Engineer'
 'Java Developer' 'Python Developer' 'Python Developer' 'Java Developer'
 'Operations Manager' 'Hadoop' 'Operations Manager' 'Automation Testing'
 'Sales' 'Electrical Engineering' 'Data Science' 'Java Developer' 'PMO'
 'Arts' 'Testing' 'Python Developer' 'Web Designing' 'Health and fitness'
 'Operations Manager' 'Civil Engineer' 'Health and fitness'
 'Network Security Engineer' 'HR' 'Testing' 'Testing'
 'Mechanical Engineer' 'Java Developer' 'Testing' 'Operations Manager'
 'Python Developer' 'Civil Engineer' 'SAP Developer' 'Web Designing'
 'Testing' 'Arts' 'Data Science' 'DotNet Developer' 'Hadoop'
 'Java Developer' 'Web Designing' 'Database' 'SAP Developer' 'PMO'
 'Automation Testing' 'Web Designing' 'Automation Testing'
 'Automation Testing' 'Data Science' 'Java Developer'
 'Mechanical Engineer' 'Java Developer' 'Testing' 'Java Developer' 'HR'
 'Testing' 'Advocate' 'Electrical Engineering' 'Network Security Engineer'
 'Mechanical Engineer' 'Health and fitness' 'Advocate' 'SAP Developer'
 'Mechanical Engineer' 'ETL Developer' 'Operations Manager'
 'Civil Engineer' 'Automation Testing' 'PMO' 'DotNet Developer'
 'Mechanical Engineer' 'Electrical Engineering' 'DevOps Engineer'
 'Network Security Engineer' 'Blockchain' 'Operations Manager' 'Testing'
 'DevOps Engineer' 'Operations Manager' 'Testing' 'HR' 'Blockchain'
 'Electrical Engineering' 'DevOps Engineer' 'Java Developer' 'Testing'
 'Electrical Engineering' 'Arts' 'Business Analyst' 'Web Designing'
 'Hadoop' 'DotNet Developer' 'Operations Manager' 'Advocate'
 'Python Developer' 'Blockchain' 'Data Science' 'DevOps Engineer' 'Hadoop'
 'Blockchain' 'Blockchain' 'Arts' 'Python Developer' 'Sales'
 'Java Developer' 'Operations Manager' 'Java Developer' 'Web Designing'
 'Testing' 'Operations Manager' 'Electrical Engineering'
 'Automation Testing' 'Network Security Engineer' 'Arts' 'Arts'
 'Mechanical Engineer' 'PMO' 'SAP Developer' 'Network Security Engineer'
 'Web Designing' 'Blockchain' 'Python Developer' 'Data Science'
 'Python Developer' 'Python Developer' 'Database']

In [44]:
pickle.dump(clf,open('clf.pkl','wb'))
pickle.dump(le,open('le.pkl','wb'))
pickle.dump(cv,open('cv.pkl','wb'))

In [45]:
loaded_model = pickle.load(open('clf.pkl','rb'))
loaded_le = pickle.load(open('le.pkl','rb'))
loaded_cv = pickle.load(open('cv.pkl','rb'))

In [46]:
str = 50*" I am a Java Developer "
c = loaded_cv.transform([str])
print(c)

  (0, 657)	50
  (0, 1200)	50

In [47]:
var = loaded_model.predict(c)

In [48]:
loaded_le.inverse_transform(var)

array(['Java Developer'], dtype=object)

In [49]:
print(loaded_le.inverse_transform(var)[0])

Java Developer

In [50]:
for i in range(len(df['Category'].unique())):
    vr = df['Category'].unique()[i]
    print(loaded_le.inverse_transform(vr)[0])
#     print(loaded_le.inverse_transform(var)[0])

ValueError: y should be a 1d array, got an array of shape () instead.